body {
  margin: 0;
  background: #a60082;
  color: rgb(255, 115, 208);
  font-family: Arial;
  text-align: center;
}

#titulo {
  font-size: 6vw;
}

#score {
  font-size: 5vw;
}

canvas {
  display: block;
  margin: auto;
}